<nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">
            <div class="flex items-center justify-start rtl:justify-end">
                <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar"
                        type="button"
                        class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                    <span class="sr-only">Open sidebar</span>
                    @IconPaths.MenuIcon
                </button>
                <a href="/" class="flex ms-2 md:me-24">
                    <img src="https://flowbite.com/docs/images/logo.svg" class="h-8 me-3" alt="FlowBite Logo" />
                    <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">Cell Mania</span>
                </a>
            </div>

            <button type="button" class="flex mx-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="dropdown">
                <span class="sr-only">Open user menu</span>
                <img class="w-8 h-8 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gough.png" alt="user photo" />
            </button>
            <!-- Dropdown menu -->
            <div class="hidden z-50 my-4 w-56 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600 rounded-xl" id="dropdown">
                <AuthorizeView>
                    <Authorized>
                        <div class="py-3 px-4">
                            <span class="block text-sm font-semibold text-gray-900 dark:text-white">@context.User.Identity?.Name</span>
                            <span class="block text-sm text-gray-900 truncate dark:text-white">@context.User.Identity?.Name</span>
                        </div>
                    </Authorized>
                </AuthorizeView>
                <ul class="py-1 text-gray-700 dark:text-gray-300" aria-labelledby="dropdown">
                <AuthorizeView>
                        <Authorized>
                            <li>
                                <a href="#"
                                   class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white">Account settings</a>
                            </li>
                            <li>
                                <a href="/logout"
                                    class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white">Cerrar Sessión</a>
                            </li>
                        </Authorized>
                        <NotAuthorized>
                            <li>
                                <a href="/register"
                                    class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white">Registrar</a>
                            </li>
                            <li>
                                <a href="/login"
                                    class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white">Login</a>
                            </li>
                        </NotAuthorized>
                </AuthorizeView>                        
                </ul>      
            </div>       
        </div>
    </div>
</nav>

<aside id="logo-sidebar"
       class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
       aria-label="Sidebar">
    <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
        <ul class="space-y-2 font-medium">

            <!-- OPCIONES DEL SIDE BAR -->

            <SideBarItem Href="/" SvgPath="@IconPaths.Home" Label="Home" />

            <SideBarItem Href="/inventario" SvgPath="@IconPaths.Inventario" Label="Inventario" />

            <SideBarItem Href="/producto" SvgPath="@IconPaths.Producto" Label="Producto" />

            <SideBarItem Href="/venta" SvgPath="@IconPaths.Venta" Label="Venta" />

            <SideBarItem Href="/compra" SvgPath="@IconPaths.Compra" Label="Compra" />

            <SideBarItem Href="/categoria" SvgPath="@IconPaths.Categoria" Label="Categoría" />
           
            <AuthorizeView Roles="admin">
                <Authorized>

                    <li>
                        <a href="https://www.google.com"
                           class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                            @IconPaths.ManageUsersIcon
                            <span class="ms-3">Gestion de Usuarios</span>
                        </a>
                    </li>

                </Authorized>

            </AuthorizeView>
            
        </ul>
    </div>
</aside>
