<nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">
            <div class="flex items-center justify-start rtl:justify-end">
                <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar"
                        type="button"
                        class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                    <span class="sr-only">Open sidebar</span>
                    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"</path>
                    </svg>
                </button>
                <a href="/" class="flex ms-2 md:me-24">
                    <img src="https://flowbite.com/docs/images/logo.svg" class="h-8 me-3" alt="FlowBite Logo" />
                    <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">Cell Mania</span>
                </a>
            </div>

            <button type="button" class="flex mx-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="dropdown">
                <span class="sr-only">Open user menu</span>
                <img class="w-8 h-8 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gough.png" alt="user photo" />
            </button>
            <!-- Dropdown menu -->
            <div class="hidden z-50 my-4 w-56 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600 rounded-xl" id="dropdown">
                <AuthorizeView>
                    <Authorized>
                        <div class="py-3 px-4">
                            <span class="block text-sm font-semibold text-gray-900 dark:text-white">@context.User.Identity?.Name</span>
                            <span class="block text-sm text-gray-900 truncate dark:text-white">@context.User.Identity?.Name</span>
                        </div>
                    </Authorized>
                </AuthorizeView>
                <ul class="py-1 text-gray-700 dark:text-gray-300" aria-labelledby="dropdown">
                <AuthorizeView>
                        <Authorized>
                            <li>
                                <a href="#"
                                   class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white">Account settings</a>
                            </li>
                            <li>
                                <a href="/logout"
                                    class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white">Cerrar Sessión</a>
                            </li>
                        </Authorized>
                        <NotAuthorized>
                            <li>
                                <a href="/register"
                                    class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white">Registrar</a>
                            </li>
                            <li>
                                <a href="/login"
                                    class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white">Login</a>
                            </li>
                        </NotAuthorized>
                </AuthorizeView>                        
                </ul>
                    
            </div>       
        </div>
    </div>
</nav>

<aside id="logo-sidebar"
       class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
       aria-label="Sidebar">
    <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
        <ul class="space-y-2 font-medium">

            <SideBarItem Href="/" SvgPath="@IconPaths.Home" Label="Home" />

            <!-- Inventario Submenu -->
            <li>
                <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-inventario" data-collapse-toggle="dropdown-inventario">
                    <svg class="w-6 h-6 text-gray-900" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="@IconPaths.Inventario" />
                    </svg>
                    <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Inventario</span>
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
                    </svg>
                </button>
                <ul id="dropdown-inventario" class="hidden py-2 space-y-2 pl-11">
                    <SideBarItem Href="/product" Label="Producto" />
                </ul>
            </li>

            <!-- Kardex Submenu -->
            <li>
                <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-kardex" data-collapse-toggle="dropdown-kardex">
                    <svg class="w-6 h-6 text-gray-900" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="@IconPaths.Kardex" />
                    </svg>
                    <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Kardex</span>
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
                    </svg>
                </button>
                <ul id="dropdown-kardex" class="hidden py-2 space-y-2 pl-11">
                    <SideBarItem Href="/entrada" Label="Entrada" />
                    <SideBarItem Href="/salida" Label="Salida" />
                    <SideBarItem Href="/perdida" Label="Perdida" />
                </ul>
            </li>

            <!-- Mantenimiento Submenu -->
            <li>
                <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-mantenimiento" data-collapse-toggle="dropdown-mantenimiento">
                    <svg class="w-6 h-6 text-gray-900" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="@IconPaths.Mantenimiento" />
                    </svg>
                    <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Mantenimiento</span>
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
                    </svg>
                </button>
                <ul id="dropdown-mantenimiento" class="hidden py-2 space-y-2 pl-11">

                    <SideBarItem Href="/product-brand" Label="Marca" />
                    <SideBarItem Href="/product-category" Label="Categoría" />
                    <SideBarItem Href="/loss-reason" Label="Razon de perdida" />
                </ul>
            </li>


            <SideBarItem Href="/venta" SvgPath="@IconPaths.Venta" Label="Venta" />
            <SideBarItem Href="/compra" SvgPath="@IconPaths.Compra" Label="Compra" />

            <AuthorizeView Roles="admin">
                <Authorized>
                    <li>
                        <SideBarItem Href="/user" Label="Usuario" />
                    </li>
                </Authorized>
            </AuthorizeView>


            <li class="pt-4 mt-4 border-t border-gray-200 dark:border-gray-600">
                <a href="/login" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg class="w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M16 17l-1.41-1.41L17.17 13H8v-2h9.17l-2.58-2.59L16 7l5 5-5 5z" />
                        <path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V5h14v14z" />
                    </svg>
                    <span class="ms-3">Cerrar Sesión</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
