<nav class="fixed top-0 z-50 w-full border-b border-gray-200 bg-white dark:bg-gray-800 dark:border-gray-700">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">
            <div class="flex items-center justify-start rtl:justify-end">
                <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar"
                        type="button"
                        class="inline-flex items-center rounded-lg p-2 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 sm:hidden dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                    <span class="sr-only">Open sidebar</span>
                    <svg class="h-6 w-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"</path>
                    </svg>
                </button>
                <a href="/" class="ms-2 flex md:me-24">
                    <img src="https://flowbite.com/docs/images/logo.svg" class="me-3 h-8" alt="FlowBite Logo" />
                    <span class="self-center whitespace-nowrap text-xl font-semibold dark:text-white sm:text-2xl">Cell Mania</span>
                </a>
            </div>

            <button type="button" class="mx-3 flex rounded-full bg-gray-800 text-sm focus:ring-4 focus:ring-gray-300 md:mr-0 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="dropdown">
                <span class="sr-only">Open user menu</span>
                <img class="h-8 w-8 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gough.png" alt="user photo" />
            </button>
            <!-- Dropdown menu -->
            <div class="z-50 my-4 hidden w-56 list-none divide-y divide-gray-100 rounded rounded-xl bg-white text-base shadow dark:bg-gray-700 dark:divide-gray-600" id="dropdown">
                <AuthorizeView>
                    <Authorized>
                        <div class="px-4 py-3">
                            <span class="block text-sm font-semibold text-gray-900 dark:text-white">@context.User.Identity?.Name</span>
                            <span class="block truncate text-sm text-gray-900 dark:text-white">@context.User.Identity?.Name</span>
                        </div>
                    </Authorized>
                </AuthorizeView>
                <ul class="py-1 text-gray-700 dark:text-gray-300" aria-labelledby="dropdown">
                    <AuthorizeView>
                        <Authorized>
                            <li>
                                <a href="#"
                                   class="block px-4 py-2 text-sm hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white">Account settings</a>
                            </li>
                            <li>
                                <a href="/logout"
                                   class="block px-4 py-2 text-sm hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white">Cerrar Sessión</a>
                            </li>
                        </Authorized>
                        <NotAuthorized>
                            <li>
                                <a href="/register"
                                   class="block px-4 py-2 text-sm hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white">Registrar</a>
                            </li>
                            <li>
                                <a href="/login"
                                   class="block px-4 py-2 text-sm hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white">Login</a>
                            </li>
                        </NotAuthorized>
                    </AuthorizeView>
                </ul>

            </div>
        </div>
    </div>
</nav>

<aside id="logo-sidebar"
       class="z-40 -translate-x-full fixed left-0 top-0 h-screen w-64 border-r border-gray-200 bg-white pt-20 transition-transform dark:bg-gray-800 dark:border-gray-700 sm:translate-x-0"
       aria-label="Sidebar">
    <div class="h-full overflow-y-auto bg-white px-3 pb-4 dark:bg-gray-800">
        <ul class="space-y-2 font-medium">

            <SideBarItem Href="home" SvgPath="@IconPaths.Home" Label="Home" />

            <!-- Inventario Submenu -->
            <li>
                <button type="button" class="group flex w-full items-center rounded-lg p-2 text-base text-gray-900 transition duration-75 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-inventario" data-collapse-toggle="dropdown-inventario">
                    <svg class="h-6 w-6 text-gray-900" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="@IconPaths.Inventario" />
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap text-left rtl:text-right">Inventario</span>
                    <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
                    </svg>
                </button>
                <ul id="dropdown-inventario" class="hidden space-y-2 py-2 pl-11">
                    <SideBarItem Href="@URLS.PRODUCT_LIST" Label="Producto" />
                </ul>
            </li>

            <!-- Kardex Submenu -->
            <li>
                <button type="button" class="group flex w-full items-center rounded-lg p-2 text-base text-gray-900 transition duration-75 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-kardex" data-collapse-toggle="dropdown-kardex">
                    <svg class="h-6 w-6 text-gray-900" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="@IconPaths.Kardex" />
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap text-left rtl:text-right">Kardex</span>
                    <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
                    </svg>
                </button>
                <ul id="dropdown-kardex" class="hidden space-y-2 py-2 pl-11">
                    <SideBarItem Href="/entry" Label="Entrada" />
                    <SideBarItem Href="/salida" Label="Salida" />
                    <SideBarItem Href="/loss" Label="Perdida" />
                </ul>
            </li>

            <!-- Mantenimiento Submenu -->
            <li>
                <button type="button" class="group flex w-full items-center rounded-lg p-2 text-base text-gray-900 transition duration-75 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-mantenimiento" data-collapse-toggle="dropdown-mantenimiento">
                    <svg class="h-6 w-6 text-gray-900" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="@IconPaths.Mantenimiento" />
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap text-left rtl:text-right">Mantenimiento</span>
                    <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
                    </svg>
                </button>
                <ul id="dropdown-mantenimiento" class="hidden space-y-2 py-2 pl-11">

                    <SideBarItem Href="/product-brand" Label="Marca" />
                    <SideBarItem Href="/product-category" Label="Categoría" />
                    <SideBarItem Href="/loss-reason" Label="Razon de perdida" />
                </ul>
            </li>


            <SideBarItem Href="/venta" SvgPath="@IconPaths.Venta" Label="Venta" />
            <SideBarItem Href="/compra" SvgPath="@IconPaths.Compra" Label="Compra" />

            <AuthorizeView Roles="admin">
                <Authorized>
                    <li>
                        <SideBarItem Href="/user" Label="Usuario" />
                    </li>
                </Authorized>
            </AuthorizeView>


            <li class="mt-4 border-t border-gray-200 pt-4 dark:border-gray-600">
                <SideBarItem Href="/Login" SvgPath="@Constants.IconPaths.CerrarSesion" Label="Cerrar Sesión" />
            </li>
        </ul>
    </div>
</aside>
